// ### Primary
$Violet: hsl(257, 40%, 49%);
$Soft-Magenta: hsl(300, 69%, 71%);

$Font-FaOpen: "Open Sans", sans-serif;
$Font-FaPopp: "Poppins", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 190px;
  height: 55px;
  border-radius: 2.2rem;
  background: #fff;
  text-decoration: none;
  font-family: $Font-FaOpen;
  font-weight: 400;
  color: $Violet;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;

  &:hover {
    background: $Soft-Magenta;
    color: #fff;
  }
}

body {
  background: url("../images/bg-desktop.svg") $Violet;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
header {
  width: 100%;
  height: 250px;

  .container {
    display: flex;
    align-items: center;
    height: 100%;
  }
}

main {
  width: 100%;
  display: flex;
  height: calc(100vh - 250px);

  .container {
    display: flex;

    .box {
      display: flex;
      width: 60%;
      padding: 0 1rem 0 0;
      height: calc(100vh - 250px);
      justify-content: space-between;

      img {
        object-fit: contain;
        height: 80%;
      }

      &:nth-of-type(2) {
        width: 40%;
        flex-direction: column;
        height: calc(100vh - 300px);

        h1 {
          font-size: 2.8rem;
          font-family: $Font-FaPopp;
          color: #fff;
          font-weight: 600;
          padding: 2rem 0rem;
        }

        p {
          font-size: 1.2rem;
          font-family: $Font-FaOpen;
          color: #e2e2e2;
          padding-bottom: 2rem;
        }
        .box-social {
          width: 100%;
          height: 55px;
          display: flex;
          justify-content: flex-end;
          align-self: flex-end;

          a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 55px;
            height: 55px;
            background: transparent;
            border-radius: 50%;
            border: 1px solid #fff;
            text-decoration: none;
            color: #fff;
            font-size: 1.7rem;
            transition: 0.3s ease-in-out;

            & + a {
              margin-left: 1rem;
            }

            &:hover {
              border-color: $Soft-Magenta;
              color: $Soft-Magenta;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 880px) {
}
